<canvas id="dates" width="300" height="300"></canvas>
<script type="text/javascript">
    {% autoescape false %}
    var datesLabels = {{ dates.labels }};
    var datesData = {{ dates.data }};
    {% endautoescape %}
    var ctx = document.getElementById('dates').getContext('2d');
    var datesDataset = {
        label: 'Publicaciones por fecha.',
        data: datesData,
        borderWidth: 2,
        hoverBorderWidth: 0
    };
    var myBarChartdates = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: datesLabels,
            datasets: [datesDataset]
        },
        options: {}
    });
</script>